<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="Msg"
			connectionString="Server=218.38.136.17,30019; Database=CO_CSID;			uid=us_vitamin; pwd=ciso*50955" />
		<add name="StudyFlow"
			connectionString="Server=218.38.136.17,30019; Database=RS_StudyFlow;	uid=rs_study_flow; pwd=ilovej5!" />
	</connectionStrings>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="StudyFlow API Proxy" stopProcessing="true">
					<match url="^api/(.*)" />
					<action type="Rewrite" url="http://127.0.0.1:5190/api/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<remove fileExtension=".html" />
			<remove fileExtension=".css" />
			<remove fileExtension=".js" />
			<remove fileExtension=".json" />
			<remove fileExtension=".webmanifest" />
			<remove fileExtension=".svg" />

			<mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
			<mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
			<mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
			<mimeMap fileExtension=".webmanifest"
				mimeType="application/manifest+json; charset=utf-8" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml; charset=utf-8" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Content-Type-Options" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<system.web>
		<globalization
			fileEncoding="utf-8"
			requestEncoding="utf-8"
			responseEncoding="utf-8" />
	</system.web>
</configuration>